#banner a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 60px;
}

#banner a:hover {
    color: #0f0f0f;
}

.entry-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
