body {
    width: 800px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

body a {
    color: #000;
    text-decoration: none;
}

body a:hover {
    color: #3f3f3f;
}

#banner.body {
    width: 100%;
    padding-top: 2em;
    text-align: center;
    margin: 0 auto;
}

#banner.body h1 {
    margin-bottom: 0;
}

#banner a {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 90px;
}

#nav-wrapper {
    width: 100%;
    height: 4em;
    margin-bottom: 6em;
}

#menu {
    width: 49%;
    float: right;
    /*margin-top: -1.5em;*/
}

#menu ul {
    width: 100%;
    padding-left: 0;
    list-style: none;
}

.menu-item {
    float: left;
    margin: 1em;
    font-weight: 400;
    text-transform: uppercase;
}

#content ol {
    list-style: none;
}

.hentry {
    margin-top: 4em;
}

.entry-title {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 0;
}

.entry-time {
    font-size: 12px;
}

.entry-content {
    text-align: justify;
}

.rotate:hover {
    -webkit-transform: rotateZ(-1deg);
    -ms-transform: rotateZ(-1deg);
    transform: rotateZ(-1deg);
}

.paginator {
    width: 100%;
    text-align: center;
    margin-top: 4em;
}

#contentinfo {
    font-size: 11px;
    margin-top: 4em;
    margin-bottom: 2em;
    text-align: center;
}
